html {
    font-family: 'DM Sans';
    background-color: #F2F0EF;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

#name {
    font-size: clamp(2rem, 4vw + 1rem, 5rem);
    margin: 0;
    margin-left: 1rem;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;

}

#contact-info p {
    margin: 0;
    font-size: 1.5rem;
}

#links {
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    display: flex;
    gap: 5rem;
    list-style-type: none;
}

.link {
    font-size: 1.5rem;
    color: rgb(64, 134, 255);
    text-decoration: none;
}

.link:visited {
    color: rgb(64, 134, 255);
    text-decoration: none;
}

.section-title {
    margin: 1rem;
}

.section-title a {
    font-size: 2.5rem;
}