:root {
    /* --c-text:#E4E4EF; */
    --c-text:#FFFFFF;
    /* --c-bg:#181818; */
    --c-bg:#1e1e1e;
    --c-alt-bg:#cb00008e;
    --c-hyperlink:#4086ff;
    --c-gray:#6e6e6e;
    --c-gold:#D9B26F;

    --c-button:#167D35;
    --c-button-hovered:#0C451D;
    --c-button-disabled:#232b26;

    --c-gh-button:#685D6F;
    --c-gh-button-hovered: #3E3843;

    --c-li-button:#3F84E5;
    --c-li-button-hovered:#1B62C5;

    --c-yt-button:#DF2935;
    --c-yt-button-hovered:#A01821;

    scroll-behavior: smooth;
}

body {
    background-color: var(--c-bg);

    overflow-x: hidden;
    line-height: 1.2;
}

.content {
    /* background-color: var(--c-alt-bg); */

    width: clamp(30rem, 50vw + 1rem, 100rem);
    margin: auto;
}

.underlined-element {
    border-bottom: 1px solid var(--c-text);
}

.boxed-element {
    border: 1px solid var(--c-text);
    margin: 0.5rem 0;
    padding: 0.5rem;
}

/* 
old classes from previous version of website, 
porting them over so that project descriptions will work for now
*/
.centered-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.centered-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.with-gap {
    gap: 0.5rem;
}

.media-100 {
    max-width: 100%;
    width: 100%;
}

.media-66 {
    max-width: 65.5%;
    width: 65.5%;
}

.media-50 {
    max-width: 49.5%;
    width: 49.5%;
}

.media-33 {
    max-width: 32.5%;
    width: 32.5%;
}

.media-25 {
    max-width: 24.5%;
    width: 24.5%;
}
/* 
end of old classes from previous version of website
*/

.header {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.important-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0.5rem;
}

.about-me__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 0;
    gap: 2rem;
}

.gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide-right {
    animation: slide-right 25s linear normal infinite backwards;    
}

.slide-left {    
    animation: slide-right 20s linear reverse infinite backwards;    
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }   
}

.happening-thumbnail {
    position: relative;

    width: 20rem;
    height: 20rem;

    margin: 0.5rem;

    /* background-color: #DF2935; */

    transition: transform 0.2s ease-in-out;
}

.happening-thumbnail:hover {
    transform: scale(1.025);
}

.happening-thumbnail__title {
    position: absolute;
    margin: 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.happening-thumbnail:hover .happening-thumbnail__title{
    opacity: 1;
}

.happening {
    margin: 0.5rem 0rem;
    transition: transform 0.2s ease;
}

.happening:hover {
    transform: scale(1.05);
}

.happening:hover[open] {
    transform: scale(1);
}

.happening__summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    list-style-type: none;
} 

.happening__title::before {
  content: ">";
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  transition: transform 0.2s ease;
}

.happening[open] .happening__summary .happening__title::before {
  transform: rotate(90deg);
}

.happening__content {
    padding: 0.5rem;
}

button, h1, h2, h3, p {
    margin: 0;

    font-family: 'DM Sans';
    color: var(--c-text);
}

h1 {
    font-size: 2rem; 
}

h2 {
    font-size: 1.25rem; 
}

h3 {
    font-size: 1rem; 
}

p {
    font-size: 1.15rem;
}

.with-vertical-margin {
    margin: 0.5rem 0;
}

.subtle {
    color: var(--c-gray);
}

.gold {
    color: var(--c-gold)
}

a {
    color: var(--c-hyperlink);
}

button {
    background-color: var(--c-button);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--c-button-hovered)
}
button:disabled {
    background-color: var(--c-button-disabled);
}

#github-button {
    background-color: var(--c-gh-button)
}
#github-button:hover {
    background-color: var(--c-gh-button-hovered);
}

#linkedin-button {
    background-color: var(--c-li-button)
}
#linkedin-button:hover {
    background-color: var(--c-li-button-hovered)
}

#youtube-button {
    background-color: var(--c-yt-button)
} 
#youtube-button:hover {
    background-color: var(--c-yt-button-hovered)
}
