:root {
    --c-text:#E4E4EF; 
    --c-bg:#181818;
    --c-box-bg:#cb00008e;
    --c-hyperlink:#4086ff;
    --c-gray:#6e6e6e;
    --c-gold:#D9B26F;

    --c-button:#167D35;
    --c-button-hovered:#0C451D;
    --c-button-disabled:#232b26;

    --c-gh-button:#685D6F;
    --c-gh-button-hovered: #3E3843;

    --c-li-button:#3F84E5;
    --c-li-button-hovered:#1B62C5;

    --c-yt-button:#DF2935;
    --c-yt-button-hovered:#A01821;

    scroll-behavior: smooth;
}

body {
    background-color: var(--c-bg);

    overflow-x: hidden;
    line-height: 1.2;
}

.content {
    background-color: var(--c-box-bg);

    width: clamp(30rem, 50vw + 1rem, 100rem);
    margin: auto;
    padding: 0.5rem;
}

.underlined-element {
    border-bottom: 1px solid var(--c-text);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.important-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0.5rem;
}

.about-me {

}

.about-me__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem
}

.about-me__me {
    margin-right: 1rem;
}

button, h1, h2, h3, p {
    margin: 0;

    font-family: 'DM Sans';
    color: var(--c-text);
}

.subtle {
    color: var(--c-gray);
}

a {
    color: var(--c-hyperlink);
}

button {
    background-color: var(--c-button);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--c-button-hovered)
}
button:disabled {
    background-color: var(--c-button-disabled);
}

#github-button {
    background-color: var(--c-gh-button)
}
#github-button:hover {
    background-color: var(--c-gh-button-hovered);
}

#linkedin-button {
    background-color: var(--c-li-button)
}
#linkedin-button:hover {
    background-color: var(--c-li-button-hovered)
}

#youtube-button {
    background-color: var(--c-yt-button)
} 
#youtube-button:hover {
    background-color: var(--c-yt-button-hovered)

}