html {
    font-family: 'DM Sans';
}

body {
    margin: 0;
    padding: 0;
}

.horiz-scroll-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.project {
    width: 200px;
    height: 50px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(0, 0, 0);
    background-color: lightgreen;
}

.horiz-scroll {
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    animation-name: scroll-right;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }    
}

.r {
    background-color: lightcoral;
}

