html {
    font-family: 'DM Sans';
}

body {
    margin: 0px;
    padding: 0px;
}

.ts1 {
    animation: move 5s linear infinite normal;
    animation-fill-mode: backwards; 
    animation-delay: -.5s;
}

.ts2 {
    animation: move 5s linear infinite normal;
    animation-fill-mode: backwards; 
}

.test-square {
    width: 400px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes move {
    0% {
        transform: translateX(calc(2*-2800px));
    }
    10% {
        transform: translateX(calc(-2800px));
    }

    99% {
       transform: translateX(100vw);
    }
    100% {
       transform: translateX(100vw);
    }
}