.horiz-scroll-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

#projects {
    animation-name: scroll-right;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 25s;

    z-index: 1;
}

#projects:hover {
    z-index: 999;
}

#experience {
    animation-name: scroll-right;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-duration: 30s;
}

.project {
    width: 300px;
    height: 300px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(0, 0, 0);
    background-color: lightgreen;
    box-shadow: 10px 15px 20px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.2);
}

.horiz-scroll {
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }    
}
