#projects_title {
    padding-left: 10vw;
}

.project_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.project_page {
    min-height: 10rem;

    margin: 2rem;

    border-style: solid;
    border-width: 0.25rem;
    border-radius: 0.5rem;
    border-color: white;

    /* background-color: blue; */
}

.project_page h3 {
    padding-left: 1rem;
}

.project_links a {
    color: rgb(64, 134, 255);
    text-decoration: none;

    padding-right: 1rem;
}

.project_links a:visited {
    color: rgb(64, 134, 255);
    text-decoration: none;
}

.project_page p { 
    padding: 1rem;
    line-height: 1.4;
}

.project_page p a{ 
    color: rgb(64, 134, 255);
    text-decoration: none;
}

.project_page p a:visited{ 
    color: rgb(64, 134, 255);
    text-decoration: none;
}

.project_side_by_side {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project_side_by_side p {
    width: min(40rem, 40vw);
}

.project_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project_images img { 
    max-width: 20rem;
    max-height: 20rem;
    padding: 0.75rem;
}

.project_images video { 
    max-width: min(40rem, 30vw);
    max-height: 40rem;
    padding: 0.75rem;
}